<ion-app>

  <ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/business"></ion-back-button>
      </ion-buttons>
      <ion-title style="letter-spacing:1px;font-size:16px;">
        NEWS<span class="titleName">APP</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

    <div class="heading">
      <ion-label class="headingTitle">DETAIL'S</ion-label>
    </div>


    <ion-card class="ion-margin">
      <img [src]="businessArticle.urlToImage" />
      <ion-card-header>
        <ion-card-subtitle>{{businessArticle.author}}</ion-card-subtitle>
        <ion-card-title style="font-size: 16px;">{{businessArticle.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: justify; text-justify:newspaper; word-spacing:-1px;">{{businessArticle.description}}</p>
        <p class="cardDes">{{businessArticle.content}}</p>
        <!-- <p style="text-align:center; font-size: 10px;">{{businessArticle.source.name}}</p> -->
        <ion-button expand="block" fill="outline" class="wideButton">For more info</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-content>
</ion-app>