<ion-app>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>


    <ion-card class="ion-margin">
      <img [src]="article.urlToImage" />
      <ion-card-header>
        <ion-card-title>{{article.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{article.description}}</p>
        <p>{{article.content}}</p>
      </ion-card-content>
    </ion-card>

  </ion-content>
</ion-app>