
    <ion-tabs>
        <ion-tab-bar slot="bottom">
      
          <ion-tab-button tab="news">
            <ion-icon name="home"></ion-icon>
            <ion-label>Top News</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="business">
            <ion-icon name="trending-up"></ion-icon>
            <ion-label>Business</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="sports">
            <ion-icon name="bicycle"></ion-icon>
            <ion-label>Sports</ion-label>
          </ion-tab-button>
      
        </ion-tab-bar>
      </ion-tabs>


