<ion-app>
  <!-- //header -->
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title style="letter-spacing:1px;">
        NEWS<span class="titleName">APP</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- content -->
  <ion-content fullscreen>

    <div class="heading">
      <ion-label class="headingTitle">Top Stories</ion-label>
      <p class="headingSubtitle">Today, {{currentDate | date:'MMM d,y'}} ({{newResult?.totalResults}})</p>
    </div>

    <ion-spinner *ngIf="!subscription?.closed" name="circles" color="danger" style="margin-left:45%"></ion-spinner>

    <ion-card button *ngFor="let article of newResult?.articles" class="ion-margin" (click)="getDetailNews(article)">
      <img [src]="article.urlToImage" />
      <ion-card-header>
        <ion-card-subtitle style="margin-bottom:4px;">{{article.author}}</ion-card-subtitle>
        <ion-card-title style="font-size: 16px;" >{{article.title}}</ion-card-title>
        <p style="font-size: 10px;">{{article.source.name}}</p>
      </ion-card-header>
    </ion-card>




  </ion-content>
</ion-app>